h1 {
    color:green;
    text-align: center;
}
h2 {
    color: chocolate;
    text-align:center;
}
img {
    float: right;
    width: 120mm ;
    height: 80mm;
}
p {
    font-size:7mm ;
}
.details {
    color: brown;
}
.important {
    color:lightslategrey;
}
body {
    background-color: blanchedalmond;
}
ol {
    font-size: 6mm;
    color: brown;
}