h1 {
    color:green;
    text-align: center;
}
h2 {
    color: chocolate;
    text-align:center;
}
img {
    padding-left: 35%;
    width: 120mm ;
    height: 80mm;
}
p {
    font-size:7mm ;
}
.details {
    color: brown;
}
.important {
    color:rgb(1, 161, 1);
    padding-left: 5%;
}
.owl-attack {
    color: rgb(3, 61, 3);
}
.important img {
    width: 200mm;
    height: 80mm;
    float: right;
    padding-right: 15%;
}
body {
    background-color: blanchedalmond;
}
ol {
    font-size: 6mm;
    color: brown;
}